html {
  font-family: 'Nunito', sans-serif;
  background: #eeeeee;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: unset;
}
a * {
  cursor: pointer;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}
